@font-face {
  font-family:"NasalizationRg-Regular";
  src: url("NASAfont/nasalization-rg.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}

* {
  box-sizing: border-box;
}

body {
  font-family:"NasalizationRg-Regular";
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("http://3.bp.blogspot.com/-g1OowIgNw3Y/V74IUqMv4tI/AAAAAAAAgfI/yKlzUWOyE_s7UitBYP-7ZmlLAATz2T38QCHM/s1600/starlit-night-1440x900-pixels-wallpapers-tagged-black-earth.jpg"); center no-repeat;
  background-size: 100%;
}

#title {
  width: 100%;
  text-align: center;
  margin: 50px auto;
  font-size: 45px;
}

.toDoDays {
  display: flex;
  flex-wrap: wrap;

}

.day {
  min-width: 300px;
  width: 400px;
  height: 100%;
  margin: 10px 5px;
  padding: 5px;
  text-align: center;
  border: 1px rgb(153, 241, 255) solid;
  border-radius: 5px;
  box-shadow: 0 0 5px 1px rgba(94, 208, 228, .9);
  background-color: rgba(124, 124, 124, 0.27);
}

/*#tues, #thu {
  margin-top: 60px;
}*/


h1 {
  text-transform: uppercase;
  font-weight: normal;
  text-decoration: none;
  color: rgb(228, 248, 255);
  text-shadow: 0 0 11px rgb(160, 236, 249);
}

input {
  width: calc(100% - 4px);
  height: 30px;
  font-family:"NasalizationRg-Regular";
  padding-left: 10px;
  font-size: 11px;
  border: 1px solid rgb(94, 208, 228);
  border-radius: 3px;
  margin-bottom: 5px;
  outline-color: rgb(115, 215, 233);
  background-color: rgba(26, 26, 26, 0.84);
  color: rgb(228, 248, 255);
  border-color: rgb(94, 208, 228);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  background-color: rgba(26, 26, 26, 0.84);
  margin: 5px auto;
  text-align: left;
  height: auto;
  width: calc(100% - 4px);
  border: 1px solid rgb(94, 208, 228);
  padding-left: 10px;
  border-radius: 3px;
  cursor: pointer;
  color: rgb(228, 248, 255);
  font-size: 13px;
}

p {
  width: calc(100% - 30px);
}

.check {
  text-decoration: line-through;
  opacity: .3;
}

.hide {
  margin: auto 20px;
  font-size: 15px;
  color: rgb(182, 0, 0);
  text-shadow: 0 0 7px rgb(250, 0, 0);
  text-decoration: none;
}
