* {
  box-sizing: border-box;
}

body {
  background-color: rgb(38, 38, 38);
  font-family: 'Jura', sans-serif;
}

#title {
  width: 100%;
  text-align: center;
  margin: 50px;
  font-family: 'Exo 2', sans-serif;

}

.toDoDays {
  display: flex;
  flex: wrap;
}

.day {
  background-color: rgb(27, 27, 27);
  width: 500px;
  height: 100%;
  margin: 0 5px;
  text-align: center;
  padding: 5px;
  border: 1px rgb(153, 241, 255) solid;
  border-radius: 5px;
  box-shadow: 0 0 2px 1px rgb(111, 235, 255);
}

h1 {
  text-transform: uppercase;
  font-weight: normal;
  text-decoration: none;
  color: rgb(152, 239, 254);
  text-shadow: 0 0 8px rgb(65, 193, 215);
}

input {
  width: calc(100% - 20px);
  height: 20px;
  border-radius: 3px;
  margin-bottom: 10px;
  background-color: rgb(38, 38, 38);
  color: rgb(65, 193, 215);
  border-color: rgb(65, 193, 215);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: rgb(38, 38, 38);
  margin: 5px auto;
  text-align: left;
  height: 30px;
  width: calc(100% - 4px);
  line-height: 30px;
  border: 1px solid rgb(65, 193, 215);
  padding-left: 10px;
  border-radius: 3px;
  cursor: pointer;
  color: rgb(236, 252, 255);
  font-size: 13px;
}

.check {
  text-decoration: line-through;
}

.hide {
  float: right;
  margin-right: 10px;
  font-size: 20px;
  color: rgb(182, 0, 0);
}
