/* @font-face kit by Fonts2u (http://www.fonts2u.com) */
@font-face {
  font-family:"NasalizationRg-Regular";
  src:url("nasalization-rg.eot?") format("eot"), url("nasalization-rg.woff") format("woff"), url("nasalization-rg.ttf") format("truetype"), url("nasalization-rg.svg#NasalizationRg-Regular") format("svg");
  font-weight:normal;
  font-style:normal;
}
